# Node modules
node_modules/

# Build output
dist/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor files
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Env files (如果有的话)
.env
.env.local
